* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image:url(./images/flag.jpg)
}

ul {
    list-style: none;
    padding-left:0;
    padding-right: 2rem;
}

span {
    text-decoration: underline;
    font-weight: bold;
}
#copy span {
    text-decoration: none;
}

.portfolio{
    font-weight: bold;
}

header,
footer,
main{
    text-align:center;
    margin: 1rem auto;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.90);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lexi {
    max-width: 500px;
    max-height: 500px;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

@media(max-width: 600px){
    .lexi {
        width: 300px;
    }
}