* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

<<<<<<< HEAD
body{
    /* background-image: url(images/flag.jpg); */
    /* background: url("./images/flag.jpg") center no-repeat; */
    text-align: center;
    background-color: steelblue;
}

header {
    margin: 2rem;
}

.main {
=======
body {
>>>>>>> button
    display: flex;
    flex-direction: column;
    background-image:url(./images/flag.jpg)
}

<<<<<<< HEAD
img {
    border-radius: 1vh;
    max-width: 450px;

}

.container {
    display:block;
    justify-content: flex-start;
}

.qna {
    display:flex;
    justify-content: flex-start;
    margin: 1rem;
    /* overflow: auto; */
}

.titleHead {
=======
ul {
    list-style: none;
    padding-left:0;
    padding-right: 2rem;
}

span {
>>>>>>> button
    text-decoration: underline;
    font-weight: bold;
}
#copy span {
    text-decoration: none;
}

.portfolio{
    font-weight: bold;
}

<<<<<<< HEAD
p {
    margin-left: 1rem;
    display:flex;
    font-size: 1rem;
    align-items: flex-end;
}

a {
    color: blue;
}
a:hover {
    color: red;
}

footer {
    margin-bottom: 2rem;
}

@media(max-width: 1250px){
    body {
        background-color: green;
    }
    .main {
        text-align: center;
        flex-wrap: wrap;
    }
    
}

@media(max-width: 770px){
    body {
        background-color: yellow;
    }

    img {
        min-width: 200px;
    }
    .qna,
    span,
    p {
        display: block;
=======
header,
footer,
main{
    text-align:center;
    margin: 1rem auto;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.90);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lexi {
    max-width: 500px;
    max-height: 500px;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

@media(max-width: 600px){
    .lexi {
        width: 300px;
>>>>>>> button
    }
}